<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>simplpechat</title>
    <link rel="stylesheet" type="text/css" href="../templates/chat.css">
</head>

<body>
    <div>
        <ul>
            {{range $i, $chat := .Logs}}
            <li>
                <div class="name">{{$chat.Name}}</div>
                <div class="comment">{{$chat.Comment}}
                    <form>
                        <button class="nice-button" type="submit" name="count" value="{{$i}}">
                            <font size=" 2 ">👍+{{$chat.Nice}}</font>
                        </button>
                    </form>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
    <form class="inputform">
        <p>
            <label class="labelName">名前：
                <input type="text" name="name" size="15" maxlength="10">
            </label>
            <label class="labelPost">投稿：
                <input type="text" name="chat" size="100" maxlength="100">
            </label>
            <input type="submit" value="post">
        </p>
    </form>
</body>

</html>